{% load i18n %}

<form class="form-inline my-auto my-lg-auto mx-auto" method="GET" action="{% url 'search:search' %}">
    <input class="form-control mr-sm-2" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn btn-primary my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
</form>